@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #131212;
}

header {
    text-align: center;
    color: rgb(119, 31, 9);
    font-family: 'Cinzel Decorative', cursive;
}

a {
    color: rgb(119, 31, 9);
    text-decoration: none;
}

h2 {
    margin-top: -1em;
}

/* STAT display header */
.stat-header {
    color: #ffdba7;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: rgb(119, 31, 9);
    width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
    font-family: "Sedan SC", serif;
    font-size: 1.5rem;
}

/* Image for prompts */
#img-container {
    text-align: center;
    height: 300px;
    background-color: black;
    width: 800px;
    margin: 0 auto;
}

#img-container img {
    height: 300px;
    max-height: 300px;
    border-radius: 5px;
    filter: grayscale(80%);
}

/* INVENTORY */
#inventory-box {
    text-align: center;
    color: white;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 800px;
    margin: 0 auto;
    background-color: black;
}

#inventory-box img {
    height: 40px;
}

/* Invisible Play Area */
main {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    height: 60vh; */
    font-family: Pacifico;
}

/* Main Container */
.container {
    width: 800px;
    background-color: #363434;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    padding-top: 5px;
}

/* Prompts */
#text {
    font-family: "Sedan SC", serif;
    color: #ffdba7;
    font-size: 1.25rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    color: #ffdba7;
    background-color: hsl(12, 85%, 25%);
    border: 2px solid hsl(12, 85%, 10%);
    border-radius: 2px;
    padding: 5px 10px;
    outline: none;
    font-family: "Sedan SC", serif;
    font-size: 1.15rem;
    transition: all .3s;
}

.btn:hover {
    border-color: black;
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px black);

}

/* Footer  */
footer {
    text-align: center;
    color: rgb(119, 31, 9);
}

#author {
    font-family: 'Berkshire Swash';
}